.header__lang-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__lang-link:hover {
  transition: opacity .8s ease;
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
