.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  transition: opacity .8s ease;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
