.intro__box {
  max-width: 690px;
  height: auto;
}

@media screen and (max-width: 965px) {
  .intro__box {
    padding: 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__box {
    padding: 0 16px;
    }
}
