.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(42, 44, 47, 0.3);
}

.cover:hover .cover__overlay {
  animation: cover-opacity .8s ease forwards;
}
