.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-style: light;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 0 0;

}

@media screen and (min-width: 321px) and (max-width: 928px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 6px 0 0 16px;
  }
} 