.place__website {
  grid-area: place__website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: max-content;
}

@media screen and (max-width: 767px) {
  .place__website {
  margin: 32px 16px;
  }
}
